{% extends 'adminbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<div class="container">
    <h1 class="text-center mt-3">Project for Approval</h1>
   
    <table class="table table-bordered table-striped table-secondary table-hover ">
        <tr>
           
            <th>PROJECT</th>
            <th>DESCRIPTION</th>
            <th>PLACE</th>
            <th>LANDMARK</th>
            <th>SE</th>
            <th>JE</th>
            <th>OVERSEER</th>
            <th colspan="3">ACTIONS</th>
        </tr>
        {% for d in data %}
        <tr>
            
            <td>{{d.name}}</td>
            <td>{{d.desc}}</td>
            <td>{{d.place}}</td>
            <td>{{d.landmark}}</td>
            <td>{{d.senior.name}}</td>
            <td>{{d.junior.name}}</td>
            <td>{{d.overseer.name}}</td>
            <td><a class="btn btn-primary" href="/adminprojectestimation?id={{d.id}}">View Cost estimation</a></td>
            <td><a class="btn btn-success" href="/adminprojectupdate?id={{d.id}}&status=Approved">Approve</a></td>
            <td><a class="btn btn-danger" href="/adminprojectupdate?id={{d.id}}&status=Reject">Reject</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}