{% extends 'farmerbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<div>
    <h1 class="text-center mt-3">Register Complaint</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="m-auto">
            <tr>
                <td>Subject of complaint</td>
                <td><input type="text" class="form-control" name="txtSubject" required></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea class="form-control" required name="txtDesc"></textarea></td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}