<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
	<head>
		<title>
			Repay Net Banking Category Bootstrap Responsive Web Template | Contact ::
			W3layouts
		</title>
		<!-- Meta tag Keywords -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8" />
		<meta
			name="keywords"
			content="Repay Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
		/>
		<script>
			addEventListener(
				'load',
				function () {
					setTimeout(hideURLbar, 0);
				},
				false
			);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<script type = "text/javascript" >
			function preventBack() { window.history.forward(); }
			setTimeout("preventBack()", 0);
			window.onunload = function () { null };
			
			</script>
		<!-- //Meta tag Keywords -->
		<!-- Custom-Files -->
		<link rel="stylesheet" href="../static/css/bootstrap.css" />
		<!-- Bootstrap-Core-CSS -->
		<link
			rel="stylesheet"
			href="../static/css/style.css"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			href="../static/css/slider.css"
			type="text/css"
			media="all"
		/>
		<!-- Style-CSS -->
		<!-- font-awesome-icons -->
		<link href="../static/css/font-awesome.css" rel="stylesheet" />
		<!-- //font-awesome-icons -->
		<!-- /Fonts -->
		<link
			href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800"
			rel="stylesheet"
		/>

		<!-- //Fonts -->
	</head>

	<body>
		<!-- mian-content -->
		<div class="main-w3-pvt-header-sec page-w3pvt-inner" id="home">
			<div class="overlay-innerpage">
				<!-- header -->
				<header>
					<div class="container">
						<div
							class="header d-lg-flex justify-content-between align-items-center py-lg-3 px-lg-3"
						>
							<!-- logo -->
							<div id="logo">
								<h1>
									<a href="/"
										><span class="fa fa-recycle mr-2"></span>Irrigation</a
									>
								</h1>
							</div>
							<!-- //logo -->
							<div class="w3pvt-bg">
								<!-- nav -->
								<div class="nav_w3pvt">
									<nav>
										<label for="drop" class="toggle">Menu</label>
										<input type="checkbox" id="drop" />
										<ul class="menu">
											<li><a href="/jehome">Home</a></li>

											<li>
												<!-- First Tier Drop Down -->
												<label for="drop-2" class="toggle toogle-2"
													>Project
													<span
														class="fa fa-angle-down"
														aria-hidden="true"
													></span>
												</label>
												<a href="#"
													>Project
													<span
														class="fa fa-angle-down"
														aria-hidden="true"
													></span
												></a>
												<input type="checkbox" id="drop-2" />
												<ul>
													<li>
														<a href="/jeprojectforestimation" class="drop-text"
															>Project for cost estimation</a
														>
													</li>
													<li>
														<a href="/jefundrequest" class="drop-text"
															>Fund request</a
														>
													</li>
												</ul>
											</li>

											<li><a href="/jeProfile">Profile</a></li>
											<li><a href="/login">Logout</a></li>
										</ul>
									</nav>
								</div>
								<!-- //nav -->
							</div>
						</div>
					</div>
				</header>
				<!-- //header -->
				<!-- /banner-inner -->

				<!-- //banner-inner -->
			</div>
		</div>
		<!-- //banner -->
		<!-- /contact -->
		{% block content %} {% endblock %}
		<!-- //contact -->
		<!-- /map-->

		<!-- //map-->
		<!-- footer -->

		<!-- //footer -->
		<div class="copy-right">
			<div class="container">
				<div class="row">
					<p
						class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6"
					>
						
					</p>
					<div class="w3-pvt-footer text-md-right text-center mt-4 col-md-5">
						<ul class="list-unstyled w3-pvt-icons">
							
						</ul>
					</div>
					<div class="move-top text-right col-md-1">
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
