{% extends 'jebase.html' %} {% block content %}
<style>
	th,
	td {
		padding: 10px;
	}
</style>
<div class="container">
	<h1 class="text-center mt-3">Fund request</h1>

	<table class="table table-bordered table-striped table-secondary table-hover ">
		<tr>
			<th>PROJECT</th>
			<th>DESCRIPTION</th>
			<th>PLACE</th>
			<th>LANDMARK</th>
			<th>FUND</th>
			<th colspan="2">ACTION</th>
		</tr>
		{% for d in data %}
		<tr>
			<td>{{d.project.name}}</td>
			<td>{{d.project.desc}}</td>
			<td>{{d.project.place}}</td>
			<td>{{d.project.landmark}}</td>
			<td>{{d.amount}}</td>
			<td>
				<a href="/jefundrequestupdate?id={{d.id}}&status=Approved by JE"
					class="btn btn-success">Approve</a
				>
			</td>
			<td>
				<a href="/jefundrequestupdate?id={{d.id}}&status=Rejected by JE"
					class="btn btn-danger">Reject</a
				>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<script>
	var msg = '{{msg}}';
	if (msg != '') alert(msg);
</script>
{% endblock %}
