{% extends 'overseerbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
</style>
<div class="container">
    <h1 class="text-center mt-3">Fund request</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="m-auto">
      
            <tr>
                <td>Enter the amount</td>
                <td><input type="text" class="form-control" name="txtAmt"  required></td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg)
    </script>
{% endblock %}