{% extends 'sebase.html' %} {% block content %}
<style>
	th,
	td {
		padding: 10px;
	}
</style>
<div class="container">
	<h1 class="text-center mt-3">Overseer</h1>

	<table class="table table-bordered table-striped table-secondary table-hover ">
		<tr>
			<th>NAME</th>
			<th>ADDRESS</th>
			<th>CONTACT</th>
			<th>EMAIL</th>
			<th colspan="3">QUALIFICATION</th>
		</tr>
		{% for d in data %}
		<tr>
			<td>{{d.name}}</td>
			<td>{{d.address}}</td>
			<td>{{d.phone}}</td>
			<td>{{d.email}}</td>
			<td>{{d.qualification}}</td>

		</tr>
		{% endfor %}
	</table>
	
</div>
<script>
	var msg = '{{msg}}';
	if (msg != '') alert(msg);
</script>
{% endblock %}
